<h3>
  {{'link.createLink' | translate}}
</h3>

<app-link-form class="create-form"
               [theForm]="form" (ngSubmit)="submit()">
  <button mat-icon-button color="primary">
    <mat-icon>add_circle</mat-icon>
  </button>
</app-link-form>

<header>
  <h3>
    {{'link.links' | translate}}
  </h3>

  <div class="spacer"></div>

  <form [formGroup]="filterForm">
    <mat-checkbox formControlName="with_trashed">
      <mat-icon>delete</mat-icon>
      {{'common.withTrashed' | translate}}
    </mat-checkbox>
  </form>
</header>

<mat-accordion>
  <mat-expansion-panel *ngFor="let link of links"
                       (click)="selectToEditLink(link)">
    <mat-expansion-panel-header>
      {{link.title}}

      <div class="spacer"></div>

      <ng-container *ngIf="!link.deleted_at; else deleted">
        <button mat-icon-button color="warn"
                1
                (click)="deleteLink(link); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <ng-template #deleted>
        <button mat-icon-button color="accent"
                *ngxPermissionsOnly="'delete-link'"
                (click)="restoreLink(link); $event.stopPropagation()">
          <mat-icon>restore</mat-icon>
        </button>
      </ng-template>
    </mat-expansion-panel-header>

    <app-link-form [theForm]="editForm"
                   *ngIf="selectedLink === link">
    </app-link-form>

    <mat-action-row>
      <button mat-raised-button color="primary"
              (click)="editLink()"
              *ngIf="selectedLink === link">
        <mat-icon>check</mat-icon>
        {{'common.update' | translate}}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
