@import "~src/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: black;

  @media (max-width: $smWidth) {
    font-size: .7em;
  }
}

header {
  display: flex;
  color: black;
  width: auto !important;
  padding-right: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;

  h2 {
    color: black;
    font-size: 2em;
  }

  .line-with-point {
    width: 20%;
    border-color: black;
    border-width: 3px;

    &:after {
      background-color: black;
    }
  }

  a {
    border: 1px solid black;
    font-size: 2em;
    padding: .25em .5em;
    color: black;
    text-decoration: none;
  }
}

.argument-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 10%;

  .argument {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: black;

    .question {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      padding-right: 5%;

      h3 {
        font-size: 4em;
        font-weight: bold;
        color: black;
        margin: 0;
        margin-right: .5em;
      }

      > div {
        flex: 1;
        font-size: 2em;
      }
    }
  }

  .answer {
    background-color: #CACCCC;
    padding: 1em;
    padding-right: 5%;
    font-size: 2em;
  }
}


.sources {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  flex-wrap: wrap;

  .source {
    flex: 1 0 15em;
    border: black 1px solid;
    padding: .5em;
    font-size: 2em;
    margin: 1em;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;

    .mat-icon {
      font-size: 2em;
      width: 1em;
      height: 1em;
      margin-right: .25em;
    }

    > div {
      flex: 1;
    }
  }
}
