<form [formGroup]="theForm"
      id="organizationEditForm"
      (ngSubmit)="ngSubmit.emit()">
  <div class="form-row">
    <mat-form-field>
      <input matInput formControlName="name"
             [placeholder]="'organization.name' | translate">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field>
      <input matInput formControlName="facebook"
             [placeholder]="'organization.facebook' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="instagram"
             [placeholder]="'organization.instagram' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="twitter"
             [placeholder]="'organization.twitter' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="youtube"
             [placeholder]="'organization.youtube' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="phone"
             [placeholder]="'organization.phone' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email"
             [placeholder]="'organization.email' | translate">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="address"
             [placeholder]="'organization.address' | translate">
    </mat-form-field>
  </div>



  <ng-content></ng-content>
</form>
