<form [formGroup]="theForm"
      id="linkEditForm"
      (ngSubmit)="ngSubmit.emit()">
  <mat-form-field>
    <input matInput formControlName="title"
           [placeholder]="'link.title' | translate">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="url"
           [placeholder]="'link.url' | translate">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="description"
           [placeholder]="'link.description' | translate">
  </mat-form-field>

  <ng-content></ng-content>
</form>
