


.contact-response {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bolder;
    margin-right: 1em;
  }
}

.mat-expansion-panel-header ::ng-deep {
  .mat-content {
    display: flex;
    align-items: center;
  }
}
