@import '~src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: $lgWidth;
}

mat-toolbar {
  @extend .limited-width;
  width: $lgWidth;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  @extend .limited-width;
  width: $lgWidth;
}

app-main-event-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 10em;
  max-width: 20em;
  @media (max-width: $smWidth) {
    max-width: 100%;
  }
}

app-event-calendar {
  flex: 4;
  padding: .5em;
  @media (max-width: $smWidth) {
    display: none;
  }
}
