<!--
<header>
  <h2>
    <mat-icon>event</mat-icon>
    {{'event.events' | translate}}
  </h2>

  <div class="spacer"></div>

  <share-buttons></share-buttons>
</header>
 -->
<mat-toolbar *ngxPermissionsOnly="'create-event'">
  <button mat-raised-button color="primary"
          (click)="create()">
    <mat-icon>add</mat-icon>
    {{'event.createEvent' | translate}}
  </button>

  <div class="spacer"></div>

  <form [formGroup]="filterForm">
    <mat-checkbox formControlName="with_trashed">
      <mat-icon>delete</mat-icon>
      {{'common.withTrashed' | translate}}
    </mat-checkbox>
  </form>
</mat-toolbar>

<div class="columns">
  <app-main-event-list class="left"
                      (restoreClick)="restoreEvent($event)"
                       (editClick)="edit($event)"
                       (deleteClick)="deleteEvent($event)"></app-main-event-list>

  <app-event-calendar class="right"
                      [events]="events"
                      (restoreClick)="restoreEvent($event)"
                      (editClick)="edit($event)"
                      (deleteClick)="deleteEvent($event)"></app-event-calendar>
</div>
