@import "~src/variables";

.box {
  max-width: $smWidth;
  padding: .5em;
  margin: .5em;
  margin-top: 1em;
  width: 100%;
  box-sizing: border-box;


  form {
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: .5em;
    box-sizing: border-box;
  }
}

