@import "~src/variables";

:host {
  padding: .5em;
  margin: .5em;
  margin-top: 1em;
  box-sizing: border-box;


  form {
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: .5em;
    box-sizing: border-box;
  }
}

