<form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
  <mat-form-field>
    <input matInput formControlName="current_password"
           type="password"
           [placeholder]="'user.currentPassword' | translate"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="password" type="password" required
           placeholder="{{'user.password' | translate}}"/>
    <span matSuffix>
      <mat-icon class="fa fa-lock"></mat-icon>
    </span>
    <mat-error *ngIf="passwordForm.get('password').hasError('password_format')">
      {{'forms.passwordFormat' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="password_confirmation" type="password"
           required
           placeholder="{{'user.passwordConfirmation' | translate}}"/>
    <span matSuffix>
      <mat-icon class="fa fa-lock"></mat-icon>
    </span>
    <mat-error
      *ngIf="passwordForm.get('password_confirmation').hasError('password_format')">
      {{'forms.passwordFormat' | translate}}
    </mat-error>
    <mat-error
      *ngIf="passwordForm.get('password_confirmation').hasError('password_mismatch')">
      {{'forms.passwordMismatch' | translate}}
    </mat-error>
  </mat-form-field>
  <app-loading-form-button [form]="passwordForm">
    {{'actions.update' | translate}}
  </app-loading-form-button>
</form>
