<h2>
  {{post ? ('post.edit' | translate) : ('post.new' | translate) }}
</h2>

<form [formGroup]="form" class="form-style" (ngSubmit)="submit()">
  <div class="column">
    <mat-form-field>
      <input matInput [placeholder]="'post.title' | translate"
             formControlName="title"/>
    </mat-form-field>

    <app-categories-search-chip-list
      [control]="categoriesForm">
    </app-categories-search-chip-list>

    <app-upload-picture [control]="form.get('thumbnail')"
                        [image_srcset]="post?.image_srcset">
    </app-upload-picture>

    <button mat-raised-button color="primary">
      {{'forms.submit' | translate}}
    </button>
  </div>
  <div class="column text">
    <app-post-ckeditor [control]="form.get('content')">
    </app-post-ckeditor>
    <button mat-raised-button type="button"
            color="primary"
            (click)="addImageToPost()">
      <mat-icon>add_photo_alternate</mat-icon>
      {{'post.addImage' | translate}}
    </button>
  </div>
</form>
