<h2>
  {{post ? ('post.edit' | translate) : ('post.new' | translate) }}

  <a mat-icon-button *ngIf="post" [routerLink]="post.viewUrl"
     [matTooltip]="'common.view' | translate" color="primary">
    <mat-icon class="fas fa-eye"></mat-icon>
  </a>
</h2>

<form [formGroup]="form" class="form-style" (ngSubmit)="submit()">
  <div class="column">
    <mat-form-field>
      <input matInput [placeholder]="'post.title' | translate"
             formControlName="title"/>
    </mat-form-field>

    <app-categories-search-chip-list
      [control]="categoriesForm">
    </app-categories-search-chip-list>

    <app-upload-picture [control]="form.get('thumbnail')"
                        [image_srcset]="post?.image_srcset">
    </app-upload-picture>

    <mat-checkbox formControlName="is_published">
      {{'post.published' | translate}}
    </mat-checkbox>

    <app-loading-button [loading]="loading">
      <mat-icon class="fa fa-paper-plane"></mat-icon>
      {{'forms.submit' | translate}}
    </app-loading-button>
  </div>
  <div class="column text">
    <button mat-icon-button type="button"
            color="primary" [matTooltip]="'post.addImage' | translate"
            (click)="addImageToPost()">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <app-post-ckeditor [control]="form.get('content')">
    </app-post-ckeditor>
  </div>
</form>
