@import "~src/variables";

:host {
  width: 100%;
  max-width: $xlWidth;

  h2 {
    margin-bottom: .25em;
    padding: 0 1em;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: .5em;

  mat-icon {
    font-size: 1.5em;
    margin-right: .25em;
  }

  .mat-checkbox {
    margin: .5em 0;
    font-size: 1.25em;

    ::ng-deep .mat-checkbox-inner-container {
      height: 1.25em !important;
      width: 1.25em !important;
    }
  }


  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 20em;
    padding: .5em;

    &.text {
      display: flex;
      flex-direction: column;
      flex: 1 1 30em;

      button {
        margin-top: .25em;
      }
    }
  }
}

