<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>{{'user.passwordReset' | translate}}</h3>
  <p>{{form.get('email').value}}</p>
  <mat-form-field>
    <input matInput
           formControlName="password"
           placeholder="{{'user.password' | translate}}"
           type="password">
    <mat-error *ngIf="form.get('password').hasError('password_format')">
      {{'forms.passwordFormat' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           formControlName="password_confirmation"
           placeholder="{{'user.passwordConfirmation' | translate}}"
           type="password">
    <mat-error *ngIf="form.get('password_confirmation').hasError('password_mismatch')">
      {{'auth.passwordMismatch' | translate}}
    </mat-error>
    <mat-error *ngIf="form.get('password').hasError('password_format')">
      {{'forms.passwordFormat' | translate}}
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-button routerLink="/login">
      {{'actions.cancel' | translate}}
    </button>
    <app-loading-form-button [form]="form">
      {{'common.submit' | translate}}
    </app-loading-form-button>
  </div>
</form>
