:host {
  display: flex;

  ::ng-deep {
    mat-icon {
      margin-right: .25em;
    }
  }
}


button {
  display: flex;
  flex: 1;
  ::ng-deep {
    .mat-button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  mat-spinner {
    margin-right: 1em;
  }
}
