<div class="transparent"></div>

<div class="header-description">
  Somos jóvenes que buscamos promover la cultura de
  la vida desde la concepción hasta su fin natural.
</div>

<div class="people">
  <div class="person" *ngFor="let member of members">
    <div class="description-hover">
      <img [srcset]="member.image_srcset">
      <div class="description">
        <span>{{member.description}}</span>
      </div>
    </div>
    <span class="name">{{member.name}}</span>
    <div class="organization">
      {{member?.organization?.name}}
    </div>
  </div>
</div>

<!--
<app-footer></app-footer>
-->
