@import "~src/variables";

.main-landing {
  display: flex;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  align-items: stretch;
  flex-direction: column;
  background-image: url("/assets/images/landing/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 3em);
}

.transparent {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( darken($primary, 40), .5);
  z-index: 0;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  width: auto;
  z-index: 1;
  padding: 0 1em;

  h1 {
    color: white;
    font-size: 3em;
    max-width: 100%;
    text-align: center;
  }

  .line-with-point {
    &:first-child {
      margin-right: 1.5em;
    }
    &:last-child {
      margin-left: 1.5em;
    }
  }
}

.content {
  position: relative;
  background-color: black;
  color: white;
  padding: .75em 5%;
  font-size: 2em;
  z-index: 1;
  margin-bottom: 2em;

  @media (max-width: $xlWidth) {
    font-size: 1.75em;
  }

  @media (max-width: $smWidth) {
    font-size: 1.5em;
  }
}

