<img *ngIf="post.image_srcset" class="top-image" [srcset]="post.image_srcset"/>

<div class="content box">
  <div class="post-body">
    <h2>
      {{post.title}}

      <a mat-icon-button [routerLink]="post.editUrl"
         *ngxPermissionsOnly="'update-post'">
        <mat-icon>edit</mat-icon>
      </a>
    </h2>

    <div class="date">
      {{post.created_at | date:'medium'}}
    </div>

    <div [innerHTML]="fixedContent" class="content-editor"></div>
  </div>

  <div class="post-footer">
    <div class="column">
      <share-buttons [show]="3"></share-buttons>
    </div>
    <div class="column">
      <div class="categories">
        <h5>
          {{'category.categories' | translate}}
        </h5>
        <app-post-categories [post]="post"></app-post-categories>
      </div>

      <div>
        {{'post.author' | translate}}:
        {{post.author.full_name}}
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <ng2-adsense></ng2-adsense>

  <mat-divider></mat-divider>

  <div class="comments">
    <app-comment-form [post]="post"
                      (created)="newComment($event)"></app-comment-form>

    <div class="comment-list">
      <ng-container *ngFor="let comment of post.comments">
        <mat-divider></mat-divider>
        <app-comment [comment]="comment">
        </app-comment>
      </ng-container>
    </div>
  </div>
</div>
