<img class="top-image" [srcset]="post.image_srcset"/>

<div class="content box">
  <div class="post-body">
    <h2>
      {{post.title}}

      <a mat-icon-button [routerLink]="post.editUrl"
         *ngxPermissionsOnly="'update-post'">
        <mat-icon>edit</mat-icon>
      </a>
    </h2>

    <div class="date">
      {{post.created_at | date:'medium'}}
    </div>

    <div [innerHTML]="post.content" class="content"></div>
  </div>

  <div class="post-footer">
    <div class="column">
      <share-buttons [theme]="'outline'"
                     [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
                     [show]="3"
                     [showCount]="true"
      ></share-buttons>
    </div>
    <div class="column">
      <div class="categories">
        <h5>
          {{'category.categories' | translate}}
        </h5>
        <ul class="categories">
          <li *ngFor="let category of post.categories; last as isLast">
            <a [routerLink]="category.viewUrl">
              {{category.title}}
            </a>
            <span *ngIf="!isLast">, </span>
          </li>
        </ul>
      </div>

      <div>
        {{'post.author' | translate}}:
        {{post.author.full_name}}
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="comments">
    <app-comment-form [post]="post"
                      (created)="newComment($event)"></app-comment-form>

    <div class="comment-list">
      <ng-container *ngFor="let comment of post.comments">
        <mat-divider></mat-divider>
        <app-comment [comment]="comment">
        </app-comment>
      </ng-container>
    </div>
  </div>
</div>
