@import "~src/variables";

:host {
  display: flex;
  flex-direction: column;
  @include mat-elevation(10, gray, 1);
  background: white;
  padding: .5em;
  border-radius: .5em;
}

h3, form, mat-list {
  margin: .5em;
}
