<ng-container *ngIf="user">
  <div class="user-session">
    <app-user-image [user]="user"></app-user-image>
    <span> {{user.name}} </span>
    <!--
    <button mat-icon-button class="drop-down">
      <mat-icon class="fas fa-caret-down"></mat-icon>
    </button>
-->
  </div>
<!--
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="adminPages.user"
       routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      {{'nav.profile' | translate}}
    </a>

    <a mat-menu-item [routerLink]="adminPages.settings"
       *ngxPermissionsOnly="['update-setting']"
       routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      {{'nav.settings' | translate}}
    </a>

    <a mat-menu-item [routerLink]="adminPages.category"
       *ngxPermissionsOnly="['create-category', 'update-category']"
       routerLinkActive="active">
      <mat-icon>category</mat-icon>
      <span>{{'nav.categories' | translate}}</span>
    </a>

    <ng-container *appIfSetting="'showGalleries'">
      <a mat-menu-item [routerLink]="adminPages.galleries"
         *ngxPermissionsOnly="['create-gallery', 'update-gallery']"
         routerLinkActive="active">
        <mat-icon>photo_library</mat-icon>
        {{'nav.galleries' | translate}}
      </a>
    </ng-container>

    <a mat-menu-item [routerLink]="adminPages.posts"
       *ngxPermissionsOnly="['read-post']"
       routerLinkActive="active">
      <mat-icon>book</mat-icon>
      {{'nav.articles' | translate}}
    </a>

    <ng-container *appIfSetting="'showLinks'">
      <a mat-menu-item [routerLink]="adminPages.links"
         *ngxPermissionsOnly="['read-link']"
         routerLinkActive="active">
        <mat-icon>link</mat-icon>
        {{'nav.links' | translate}}
      </a>
    </ng-container>


    <button mat-menu-item *ngIf="$impersonatorUser | async"
            (click)="stopImpersonate()">
      {{'spark.kiosk.users.stopImpersonate' | translate}}
    </button>
  </mat-menu>
  -->
</ng-container>

<ng-container *ngIf="!user">
  <button class="no-session" mat-button
          [matTooltip]="'auth.login' | translate"
          (click)="openLoginModal()">
    <mat-icon>account_circle</mat-icon>
    <span>{{'auth.login' | translate}}</span>
  </button>
</ng-container>
