<ng-container *ngIf="user">
  <div class="user-session" [matMenuTriggerFor]="appMenu">
    <span> {{user.name}} </span>
    <app-user-image [user]="user"></app-user-image>
    <button mat-icon-button class="drop-down">
      <mat-icon class="fas fa-caret-down"></mat-icon>
    </button>

    <app-logout-button></app-logout-button>
  </div>

  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="userRoute"
       routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      {{'nav.profile' | translate}}
    </a>

    <a mat-menu-item [routerLink]="settingsRoute"
       routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      {{'nav.settings' | translate}}
    </a>

    <a mat-menu-item [routerLink]="adminRoute"
       *ngxPermissionsOnly="['create-category', 'update-category']"
       routerLinkActive="active">
      <mat-icon>category</mat-icon>
      <span>{{'nav.categories' | translate}}</span>
    </a>

    <a mat-menu-item [routerLink]="newPostRoute"
       *ngxPermissionsOnly="['create-post', 'update-post']"
       routerLinkActive="active">
      <mat-icon>book</mat-icon>
      {{'nav.newArticle' | translate}}
    </a>

    <a mat-menu-item [routerLink]="adminPostsRoute"
       *ngxPermissionsOnly="['read-post']"
       routerLinkActive="active">
      <mat-icon>book</mat-icon>
      {{'nav.articles' | translate}}
    </a>


    <button mat-menu-item *ngIf="$impersonatorUser | async"
            (click)="stopImpersonate()">
      {{'spark.kiosk.users.stopImpersonate' | translate}}
    </button>
  </mat-menu>
</ng-container>

<ng-container *ngIf="!user">
  <button mat-button (click)="openLoginModal()">
    <mat-icon>account_circle</mat-icon>
    {{'auth.login' | translate}}
  </button>
</ng-container>
