<ng-container *ngIf="user">
  <div class="user-session" [matMenuTriggerFor]="appMenu">
    <span> {{user.name}} </span>
    <app-user-image [user]="user"></app-user-image>
    <button mat-icon-button class="drop-down">
      <mat-icon class="fas fa-caret-down"></mat-icon>
    </button>

    <app-logout-button></app-logout-button>
  </div>

  <mat-menu #appMenu="matMenu">
    <a routerLink="/usuario" mat-menu-item>
      <mat-icon class="fas fa-cogs">
      </mat-icon>
      <span>
        {{'team.configuration' | translate}}
      </span>
    </a>
    <button mat-menu-item *ngIf="$impersonatorUser | async"
            (click)="stopImpersonate()">
      {{'spark.kiosk.users.stopImpersonate' | translate}}
    </button>
  </mat-menu>
</ng-container>

<ng-container *ngIf="!user">
  <button mat-button (click)="openLoginModal()">
    <mat-icon>account_circle</mat-icon>
    {{'auth.login' | translate}}
  </button>
</ng-container>
