@import "~src/variables";

:host {
  display: flex;
}

.user-session {
  display: flex;
  align-items: center;
  font-weight: normal;
  //color: white;

  span {
    margin-right: .25em;
    max-width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button.drop-down {
    width: 1em;
    margin: 0.25em 0;
    display: none;

    @media (min-width: $smWidth) {
      display: flex;
      margin-right: 1.5em;
    }
  }
}

.no-session {
  span {
    display: none;
    @media (min-width: $smWidth) {
      display: inline-flex;
    }
  }
}
