<input type="file" #file (change)="changed($event)"/>

<ng-container *ngIf="!crop">
  <img class="picture" *ngIf="src; else noSrc"
       [src]="src"
       [matTooltip]="'common.selectPicture' | translate"/>
  <ng-template #noSrc>
    <img class="picture" *ngIf="image_srcset"
         [srcset]="image_srcset"
         [matTooltip]="'common.selectPicture' | translate"/>
  </ng-template>
</ng-container>

<image-cropper
  *ngIf="imageChangedEvent && crop"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="false"
  (imageCropped)="imageCropped($event)"
  (loadImageFailed)="loadImageFailed()"
  (click)="$event.stopPropagation()"
></image-cropper>

<div class="actions">
  <button mat-button class="picture-placeholder" type="button"
          [class.selected]="src || imageChangedEvent"
          [matTooltip]="'common.selectPicture' | translate">
    <mat-icon>add_photo_alternate</mat-icon>

    {{imageChangedEvent ?
    ('common.changePicture' | translate)
    : ('common.selectPicture' | translate)}}
  </button>
  <div class="spacer">
    {{fileName}}
  </div>
  <button *ngIf="imageChangedEvent" mat-icon-button type="button"
          [class.active]="crop"
          [matTooltip]="'common.crop' | translate"
          (click)="toogleGroup(); $event.stopPropagation(); $event.preventDefault()">
    <mat-icon>crop</mat-icon>
  </button>
</div>


