<a mat-list-item routerLink="/" (click)="selected.emit()"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}">
  <mat-icon>home</mat-icon>
  {{'nav.main' | translate}}
</a>
<a mat-list-item [routerLink]="usRoute" (click)="selected.emit()"
   routerLinkActive="active">
  {{'nav.us' | translate}}
</a>
<a mat-list-item [routerLink]="argumentsRoute" (click)="selected.emit()"
   routerLinkActive="active">
  {{'nav.arguments' | translate}}
</a>
<!--
<a mat-list-item [routerLink]="postRoute" (click)="selected.emit()"
   routerLinkActive="active">
  <mat-icon>book</mat-icon>
  {{'nav.articles' | translate}}
</a>
-->
<a mat-list-item [routerLink]="eventRoute"
   *appIfSetting="'showEvents'"
   (click)="selected.emit()"
   routerLinkActive="active">
  <mat-icon>event</mat-icon>
  {{'nav.events' | translate}}
</a>
<ng-container *appIfSetting="'showGalleries'">
  <a mat-list-item [routerLink]="galleryRoute"
     *appIfSetting="'showContact'"
     (click)="selected.emit()"
     routerLinkActive="active">
    <mat-icon>photo_library</mat-icon>
    {{'nav.galleries' | translate}}
  </a>
</ng-container>
<a mat-list-item [routerLink]="contactRoute"
   *appIfSetting="'showContact'"
   (click)="selected.emit()"
   routerLinkActive="active">
  <mat-icon>contacts</mat-icon>
  {{'nav.contact' | translate}}
</a>
