@import "~src/variables";

:host {
  flex: 1;
  padding: 0 5%;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  text-decoration: none;
  background-color: black;
  flex: 1 1 12em;
  text-align: center;
  text-transform: uppercase;
  font-size: .75em;
  @include animate();

  mat-icon {
    display: none;
  }

  &:hover, &.active {
    border-bottom: 1px solid white;
    background-color: white;
    color: black !important;
  }
}

