@import '~src/variables';

:host ::ng-deep .cal-event-action {
  color: white;
}

mat-toolbar {
  button {
    mat-icon {
      margin-right: .25em;
    }
  }

  mat-checkbox {
    ::ng-deep .mat-checkbox-label{
      display: flex;
      align-items: center;
    }
  }
}


mat-tab-group {
  ::ng-deep .mat-tab-label-content {
    mat-icon {
      margin-right: .25em;
    }
  }
}

mat-checkbox {
  font-size: .75em;
}


.calendar-controls {
  h3 {
    font-size: .8em;
    flex: 5;
    white-space: pre-wrap;
    line-height: 1em;
  }
  @media (min-width: $smWidth) {
    h3 {
      font-size: 1em;
    }
  }
}
