@import "~src/variables";

:host {
  position: relative;
  flex: 1;
  z-index: 20;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content {
  @extend .limited-width;
  width: $lgWidth;
  padding: 1em;
}

.mat-icon {
  margin-right: .5em;
}
