<mat-card>
  <mat-card-header>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.created_at | date}}</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage [srcset]="post.image_srcset">
  <!--
  <mat-card-content>
    Text content
  </mat-card-content>
  -->
  <mat-card-actions align="start">
    <button mat-icon-button
            *ngxPermissionsOnly="'update-post'"
            color="accent"
            [routerLink]="post.editUrl">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-raised-button color="primary"
            [routerLink]="post.viewUrl">
      {{'common.see' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
