:host{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

mat-card {
  display: flex;
  flex-direction: column;
  flex: 1;

  img {
    max-height: 10em;
    object-fit: cover;
    flex: 1;
  }

  mat-card-actions {
    justify-content: flex-end;
    display: flex;
  }
}
