:host{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

img {
  max-height: 10em;
  object-fit: cover;
}

mat-card-actions {
  justify-content: flex-end;
  display: flex;
}

mat-card {
  flex: 1;
}
