<section class="mission-and-vision">
  <div class="subtitle">
    <h3>¿Quienes Somos?</h3>
    <div>
      <ul>
        <li>
          JUVI surgió tras ver la necesidad de que los jóvenes
          nos involucráramos en los temas de formación
          para otros jóvenes sobre la protección a la vida y la
          familia.
        </li>
        <li>
          Frida Espinosa y Leonardo Arzamendi con 17 años
          fundaron JUVI en agosto del 2017, buscando
          transmitir el valor y la dignidad que toda persona
          posee desde su inicio en el vientre materno hasta
          su muerte natural.
        </li>
      </ul>
    </div>
  </div>
  <img class="page-icon"
       *ngIf="$pageIconSrcSet | async; let srcset"
       [srcset]="srcset"/>
  <div class="subtitle">
    <h3>Conócenos</h3>
    <div>
      <ul>
        <li>
          Somos jóvenes que buscamos promover la cultura de
          la vida desde la concepción hasta su fin natural.
        </li>
        <li>
          Defendemos los derechos humanos y buscamos
          crear propuestas de solución con enfoques de
          vida y familia.
        </li>
        <li>
          Promovemos una sexualidad basada en el amor
          verdadero, la dignidad de la persona, el respeto
          mutuo y los métodos naturales.
        </li>
      </ul>

    </div>
  </div>
</section>

<section class="gallery">
  <div class="picture" *ngFor="let picture of gallery.gallery_pictures">
    <img class="gallery-image"
         [srcset]="picture.image_srcset"/>
    <span class="item-title">
      {{picture.title}}
    </span>
    <div class="item-content" *ngIf="picture.content">
      <p [innerHtml]="picture.content"></p>
    </div>
  </div>
</section>


<section class="social">
  <h3>
    Síguenos
  </h3>

  <app-organization-social-links
    class="line" *ngIf="$organization | async; let organization"
    [organization]="organization">
  </app-organization-social-links>
</section>
