:host {
  display: inline-flex;
}

a.social {
  color: white;
  margin-right: 1em;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .mat-icon {
    display: inline-flex;
  }
}
