@import "~src/variables";

img{
  object-fit: contain;
}

form {
  padding: 0;

  p {
    text-align: center;
  }

  .login-button {
    display: flex;
    ::ng-deep {
      .mat-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    mat-spinner {
      margin-right: 1em;
    }
  }

  .reset {
    cursor: pointer;
    font-size: .8em;
    font-weight: bolder;
    //color: $primaryFontColor;
    margin-bottom: .25em;
    text-align: right;

    &:hover {
      text-decoration: underline;
      // color: $secondaryFontColor;
    }
  }

  [matSuffix] {
    color: lighten($gray, 20%)
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 1em;

  a {
    cursor: pointer;
    text-decoration: none;
    color: $gray;
  }
}
