@import "~src/variables";

img{
  object-fit: contain;
}

form {
  padding: 0;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  p {
    text-align: center;
  }

  .login-button {
    display: flex;
    margin-bottom: 1em;

    ::ng-deep {
      .mat-button-wrapper {
        width: 100%;
      }
    }
    mat-spinner {
      margin-right: 1em;
    }
  }

  .reset {
    cursor: pointer;
    font-size: .8em;
    font-weight: bolder;
    //color: $primaryFontColor;
    margin-bottom: .25em;
    text-align: right;

    &:hover {
      text-decoration: underline;
      // color: $secondaryFontColor;
    }
  }

  [matSuffix] {
    color: lighten($gray, 20%)
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 1em;

  a {
    cursor: pointer;
    text-decoration: none;
    color: $gray;
  }
}

.facebook, .google {
  margin-bottom: .25em;

  ::ng-deep .mat-button-wrapper{
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: .5em;
    }

    span {
      flex: 1;
    }
  }
}

.facebook {
  background-color: $fb-color;
}

.google {
  background-color: $google-plus-color;
}
