<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar>
      <img class="page-icon" *ngIf="$pageIconSrcSet | async; let srcset; else defaultIcon"
           [srcset]="srcset"/>
      <ng-template #defaultIcon>
        <img class="page-icon" src="assets/icons/icon-shape.png"/>
      </ng-template>

    </mat-toolbar>
    <mat-nav-list>
      <app-nav-pages *ngIf="isHandset$ | async" (selected)="close()"></app-nav-pages>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="top-header">
      <div class="line"></div>
      <img src="assets/images/white-logo.png">
      <div class="line">
        <button mat-icon-button>
          <mat-icon class="fab fa-facebook-f"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="fab fa-youtube"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="fab fa-twitter"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="fab fa-instagram"></mat-icon>
        </button>
      </div>
    </div>
    <mat-toolbar class="top-bar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <app-nav-pages *ngIf="!(isHandset$ | async)"></app-nav-pages>
      <!--
      <div class="spacer"></div>

      <span *ngIf="$title | async; let title"
            class="title" [class.long-text]="title?.length > 20">
        {{title}}
      </span>

      <div class="spacer"></div>
        -->
      <app-current-user-menu></app-current-user-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
