@import "~src/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  color: white;
  background: $primary;

  mat-toolbar {
    display: flex;
    justify-content: center;
    margin-top: .5em;
  }

  mat-toolbar {
    background-color: transparent;
  }

  .page-icon {
    width: 3em;
  }

  img {
    width: 1em;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $primary;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.active {
  background-color: darken($secondary, 30%) !important;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

app-nav-pages ::ng-deep a {
  mat-icon {
    margin-right: .25em;
  }
}

.top-bar {
  padding-bottom: .5em;
  justify-content: center;
  margin-top: -1em;
  app-nav-pages {
    display: flex;

    ::ng-deep a {
      margin-right: 1em;

      .mat-list-item-content {
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: .1em;
        }
      }
    }
  }
}

.title {
  white-space: pre-wrap;
  line-height: 1em;
  text-align: center;

  &.long-text {
    font-size: .75em;

    @media (min-width: $smWidth) {
      font-size: 1em;
    }
  }
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;

  img {
    height: 10em;
  }

  .line {
    height: 1px;
    flex: 1;
    border-top: 1.5px solid white;
    margin-top: -4.5px;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      margin-right: -8px;
      margin-top: -5px;
      justify-content: flex-start;
    }

    &:last-child {
      margin-left: -8px;
      margin-top: -4px;
    }

    .mat-icon {
      color: white;
      margin-top: -4em;
    }
  }
}


@media (max-width: $smWidth) {
  .top-header {
    font-size: 0.8em;
    position: sticky;

    .line {
      border-top: 1px solid white;

      &:first-child {
        flex: .5;
      }
    }

    img {
      height: 8em;
    }
  }

  .top-bar {
    display: none;
  }
}
