@import "~src/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  color: white;
  background: $primary;

  mat-toolbar {
    display: flex;
    justify-content: center;
    margin-top: .5em;
  }

  .page-icon {
    width: 3em;
  }

  img {
    width: 1em;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: darken($secondary, 30%) !important;
}

mat-expansion-panel {
  background-color: transparent;

  mat-panel-title {
    color: white;
  }

  mat-expansion-panel-header {
    padding: 0 16px;
  }
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}


app-nav-pages ::ng-deep a {
  mat-icon {
    margin-right: .25em;
  }
}

.top-bar {
  app-nav-pages {
    display: flex;

    ::ng-deep a {
      margin-right: 1em;

      .mat-list-item-content {
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: .1em;
        }
      }
    }
  }
}
