@import "~src/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: darken($secondary, 20%);
  color: white;

  mat-toolbar {
    display: flex;
    justify-content: center;
    margin-top: .5em;
  }

  .page-icon {
    width: 3em;
  }

  a {
    color: white;
    font-weight: bolder;
  }

  mat-icon {
    margin-right: .25em;
  }
  img {
    width: 1em;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: darken($secondary, 30%) !important;
}

mat-expansion-panel {
  background-color: transparent;

  mat-panel-title {
    color: white;
  }

  mat-expansion-panel-header {
    padding: 0 16px;
  }
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}
