<h1 mat-dialog-title>
  {{'media.media' | translate}}

  <button class="button-close" mat-dialog-close>
    <mat-icon class="fa fa-times"></mat-icon>
  </button>
</h1>

<mat-dialog-content>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadMedia()">
    <div class="file-input" (click)="file.click()"
         [class.error]="uploadForm.get('base64').invalid && uploadForm.get('base64').touched">

      <button mat-raised-button color="primary" type="button">
        <mat-icon>
          add_photo_alternate
        </mat-icon>
        {{'media.uploadPicture' | translate}}
      </button>

      <span class="file-name">
        {{fileName}}
      </span>
      <input type="file" #file (change)="changed($event)"/>
    </div>

    <image-cropper
      *ngIf="imageChangedEvent"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="false"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <mat-progress-bar *ngIf="loadingProgress" mode="determinate"
                      [value]="loadingProgress"></mat-progress-bar>

    <app-loading-button *ngIf="imageChangedEvent"
                        [loading]="loadingProgress">
      {{'common.submit' | translate}}
    </app-loading-button>
  </form>

  <mat-divider></mat-divider>

  <form [formGroup]="filterForm">
    <mat-form-field>
      <input matInput formControlName="search"
             [placeholder]="'common.search' | translate"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </form>

  <div class="images">
    <div class="loading" *ngIf="loadingMedias">
      <mat-spinner></mat-spinner>
    </div>
    <app-media-thumb *ngFor="let medi of media" [media]="medi"
                     (click)="selectMedia(medi)">
    </app-media-thumb>
  </div>

</mat-dialog-content>
