<mat-toolbar>
  <h3>
    {{'user.users' | translate}}
  </h3>

  <div class="spacer"></div>

  <form [formGroup]="filterForm">
    <mat-checkbox formControlName="with_trashed">
      <mat-icon>delete</mat-icon>
      {{'common.withTrashed' | translate}}
    </mat-checkbox>
  </form>
</mat-toolbar>

<mat-progress-bar *ngIf="paginationManager.loading"
                  mode="indeterminate"></mat-progress-bar>

<app-laravel-paginator [pagination]="paginationManager.pagination"
                       (page)="paginationManager.onPage($event)"></app-laravel-paginator>

<table mat-table class="full-width-table"
       [dataSource]="paginationManager.dataSource" matSort
       aria-label="Elements">

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
    </th>
    <td mat-cell *matCellDef="let row">
      <img [srcset]="row.image_srcset"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'user.id' | translate}}
    </th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef="full_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'user.name' | translate}}
    </th>
    <td mat-cell *matCellDef="let row">{{row.full_name}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'common.actions' | translate}}
    </th>
    <td mat-cell *matCellDef="let row">
      <!--
      <a mat-icon-button [routerLink]="row.viewUrl"
         [matTooltip]="'common.view' | translate" color="accent">
        <mat-icon class="fas fa-eye"></mat-icon>
      </a>

      <a mat-icon-button [routerLink]="row.editUrl"
         *ngxPermissionsOnly="'update-gallery'"
         [matTooltip]="'common.edit' | translate" color="primary">
        <mat-icon class="fas fa-edit"></mat-icon>
      </a>
      -->

      <app-user-roles [user]="row"></app-user-roles>

      <!--
      <ng-container *ngIf="!row.deleted_at; else deleted">
        <button mat-icon-button color="warn"
                *ngxPermissionsOnly="'delete-gallery'"
                (click)="deleteCategory(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <ng-template #deleted>
        <button mat-icon-button color="accent"
                *ngxPermissionsOnly="'delete-gallery'"
                (click)="restoreCategory(row)">
          <mat-icon>restore</mat-icon>
        </button>
      </ng-template>
      -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<app-laravel-paginator [pagination]="paginationManager.pagination"
                       (page)="paginationManager.onPage($event)"></app-laravel-paginator>

