@import "~src/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-gallery-thumb {
  width: 14em;
  margin: .5em;
}

mat-toolbar {
  @extend .limited-width;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  padding: .25em;
  justify-content: center;
  @extend .limited-width;
}
