// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-blog-primary: mat-palette($mat-blue, 900);
$angular-blog-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-blog-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-blog-theme: mat-light-theme($angular-blog-primary, $angular-blog-accent, $angular-blog-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-blog-theme);

/* You can add global styles to this file, and also import other style files */
@import "~src/variables";
@import '~@ngx-share/button/themes/outline/outline-theme';
@import "~angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


form.form-style {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  color: $gray;
}

.spacer {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray;
}

.mat-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-spinner {
    margin-right: .5em;
  }
}


[mat-dialog-title] {
  position: relative;

  .button-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: .25em;
    background: none;
    border: 0;
    font-size: 1em;
    color: gray;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 10em;
}

.mat-toolbar.mat-toolbar-single-row {
  padding: 0 8px;
  @media (min-width: $smWidth) {
    padding: 0 16px
  }
}

gallery {
  .g-btn-close {
    display: none;
  }

  gallery-slider, gallery-item, .g-box {
    overflow: visible !important;
  }

  .g-box {
    z-index: 2;
  }

}

.g-thumb-loading {
  display: none;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @extend .limited-width;

  h2 {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: .25em;
    }
  }
}


.content-editor {
  img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
    height: 23em;
  }
}
