@import "~src/variables";

:host{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 2em;
  width: 2em;
  min-width: 2em;
  border: $primary 3px solid;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
