@import "~src/variables";

:host{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  font-size: 2em;
  height: 1em;
  width: 1em;
  min-width: 1em;
  border: white 3px solid;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  color: white;
}

