footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  z-index: 1;
  font-size: 1em;
  margin-bottom: 1em;

  p {
    margin: 0 .25em;
    text-align: center;
  }
}

app-organization-social-links {
  margin-top: .75em;
  font-size: .9em;
}
