<footer>
  <p>
    Juventud y Vida A.C.
  </p>
  <p>
    C/ Alfonso Gómez 33. int. 4 CDMX, México
  </p>
  <p>
    2012 Juventud y Vida A.C
  </p>

  <p>
    <button mat-icon-button>
      <mat-icon class="fab fa-facebook-f"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="fab fa-youtube"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="fab fa-twitter"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="fab fa-instagram"></mat-icon>
    </button>
  </p>
</footer>
