<img class="top-image"
     [src]="mainPagePicture?.image_url || '/assets/images/night-sky.jpg'"
     [srcset]="mainPagePicture?.image_srcset|| '/assets/images/night-sky.jpg'"
/>


<div class="content">
  <div class="side-left">
    <h2>{{'post.posts' | translate}}</h2>
    <div class="posts">
      <app-post-thumb
        *ngFor="let post of posts"
        [post]="post">
      </app-post-thumb>
    </div>

    <ng-container *appIfSetting="'showGalleries'">
      <h2>{{'gallery.galleries' | translate}}</h2>
      <div class="galleries">
        <app-gallery-thumb
          [routerLink]="gallery.viewUrl"
          *ngFor="let gallery of galleries"
          [gallery]="gallery"></app-gallery-thumb>
      </div>
    </ng-container>
  </div>

  <div class="side">
    <mat-card class="events" *appIfSetting="'showEvents'">
      <mat-card-header>
        <mat-card-title>
          {{'event.events' | translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <a mat-list-item dense
             *ngFor="let event of events"
             [routerLink]="event.viewUrl">
            <img *ngIf="event.image_srcset; else noImage"
                 mat-list-icon [srcset]="event.image_srcset"/>
            <ng-template #noImage>
              <mat-icon mat-list-icon>event</mat-icon>
            </ng-template>

            <div class="text">
              <span class="title">{{event.title}}</span>
              <span class="description">
                {{event.begin_at | date:'medium'}}
              </span>
            </div>

          </a>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="categories">
      <mat-card-header>
        <mat-card-title>
          {{'category.categories' | translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <a mat-list-item dense
             *ngFor="let category of categories"
             [routerLink]="category.viewUrl">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            {{category.title}}
          </a>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="latest-links" *appIfSetting="'showLinks'">
      <mat-card-header>
        <mat-card-title>
          {{'link.links' | translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <a mat-list-item dense target="_blank"
             *ngFor="let link of links"
             [href]="link.url">
            <mat-icon mat-list-icon>link</mat-icon>

            <div class="text">
              <span class="title">{{link.title}}</span>
              <span class="description">{{link.description}}</span>
            </div>

          </a>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>

<ng2-adsense></ng2-adsense>

