<div class="top-image"></div>

<div class="content">
  <div class="latest-posts">
    <app-post-thumb *ngFor="let post of posts" [post]="post">
    </app-post-thumb>
  </div>

  <div class="side">

    <mat-card class="categories">
      <mat-card-header>
        <mat-card-title>
          {{'category.categories' | translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <a mat-list-item dense
             *ngFor="let category of categories"
             [routerLink]="category.viewUrl">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            {{category.title}}
          </a>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="latest-links" *ngIf="showLinks">
      <mat-card-header>
        <mat-card-title>
          {{'link.links' | translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <a mat-list-item dense target="_blank"
             *ngFor="let link of links"
             [href]="link.url">
            <mat-icon mat-list-icon>link</mat-icon>

            <div class="text">
              <span class="title">{{link.title}}</span>
              <span class="description">{{link.description}}</span>
            </div>

          </a>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>

<ng2-adsense></ng2-adsense>

