<div class="top-image"></div>

<div class="content">
  <div class="latest-posts">
    <app-post-thumb *ngFor="let post of posts" [post]="post">
    </app-post-thumb>
  </div>

  <mat-card class="categories">
    <mat-card-header>
      <mat-card-title>
        {{'category.categories' | translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <a mat-list-item dense
           *ngFor="let category of categories"
           [routerLink]="category.viewUrl">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          {{category.title}}
        </a>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!--
  <mat-card class="latest-links">
    <mat-card-header>
      <mat-card-title>
        Enlaces recomendados
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <a mat-list-item *ngFor="let link of links" target="_blank"
           [href]="link.url">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          {{link.title}}
        </a>
      </mat-list>
    </mat-card-content>
  </mat-card>
  -->
</div>
