<app-header-dot-line>
  Contáctanos
  <div class="spacer" slot="extra"></div>
</app-header-dot-line>

<div class="columns">
  <div class="groups">
    <div class="group" *ngFor="let organization of organizations">
      <h3>
        {{organization.name}}

        <div class="spacer"></div>

        <app-organization-social-links [organization]="organization"></app-organization-social-links>
      </h3>
      <div class="data" *ngIf="organization.address?.length">
        <label>{{'organization.address' | translate}}:</label>
        <span>{{organization.address}}</span>
      </div>
      <div class="data" *ngIf="organization.phone?.length">
        <label>{{'organization.phone' | translate}}:</label>
        <span>{{organization.phone}}</span>
      </div>
      <a class="data" *ngIf="organization.email?.length"
         [href]="'mailto:' + organization.email">
        <label>{{'organization.email' | translate}}:</label>
        <span>{{organization.email}}</span>
      </a>
    </div>
  </div>

  <div class="contact">
    <form class="contact-form" #ngForm="ngForm"
          [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <mat-form-field>
          <mat-label>{{'contactResponse.name' | translate}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'contactResponse.phone' | translate}}</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>{{'contactResponse.email' | translate}}</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>{{'contactResponse.subject' | translate}}</mat-label>
          <input matInput formControlName="subject">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>{{'contactResponse.bodyPlaceholder' | translate}}</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button>
        <mat-label>{{'form.submit' | translate}}</mat-label>
      </button>

      <span *ngIf="submitSuccess">
        {{'contactResponse.success' | translate}}
      </span>
    </form>
  </div>
</div>


<!--
<div class="content box" >
  <header>
    <h2>
      <mat-icon>contacts</mat-icon>
      {{'contact.contact' | translate}}
    </h2>

    <div class="spacer"></div>

    <share-buttons></share-buttons>
  </header>

  <div [innerHTML]="contactText" class="content-editor"></div>
</div>
-->
