@import "~src/variables";

:host {
  @extend .common-main-container;
  flex-direction: column;
  align-items: stretch;
}

.content.box {
  width: $smWidth;
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 100%;
  box-sizing: border-box;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $smWidth) {
    .contact {
      order: -1;
    }
  }

  .groups, .contact {
    display: flex;
    flex-direction: column;
    flex: 3;
  }

  .groups {
    flex: 0 1 40em;
  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    h3 {
      display: flex;
      background-color: $gray;
      color: black;
      font-size: 1.75em;
      font-weight: bold;
      padding-left: 10%;
      height: 2em;
      align-items: center;
      margin-bottom: .25em;
      padding-right: .25em;

      .mat-icon {
        display: inline-flex;
        justify-content: center;
        font-size: 1em;
        width: 1em;
        height: 1em;
      }
    }

    .data {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $gray;
      padding-left: 10%;
      text-decoration: none;
      margin: .25em 0;

      label {
        font-weight: bold;
      }

      span, label {
        font-size: 1.5em;
        padding: .25em;
        color: black;
        line-height: 1em;

        @media (max-height: $smWidth) {
          font-size: 1.25em;
        }
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      //color: $gray;
      text-decoration: none;
      color: black;
      font-size: 1em;
      margin-right: 1em;
      transition: all .25s;
      padding: .2em;

      &:hover {
        color: white;
        background-color: black;
        border-radius: .25em;
      }
    }

    @media (max-height: $smWidth) {
      h3 {
        line-height: 1em;
        min-height: 2em;
        padding-top: .1em;
        padding-bottom: .1em;
        font-size: 1.5em;
      }

      .social {
        margin-right: .2em;
      }
    }

  }
}


.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: .5em;

    .mat-form-field-underline {
      bottom: .75em;
    }
  }
}

.contact-form {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;

  button {
    width: 100%;
    color: white;
    background-color: black;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    mat-form-field {
      flex: 1;
      margin: 0 .25em;
      padding: .25em;
    }
  }
}

