<app-header-dot-line>
  Contáctanos
  <div class="spacer" slot="extra"></div>
</app-header-dot-line>

<div class="columns">
  <div class="groups">
    <div class="group" *ngFor="let organization of organizations">
      <h3>
        {{organization.name}}

        <div class="spacer"></div>

        <a *ngIf="organization.instagram?.length" [href]="'http://www.instagram.com/' + organization.instagram" class="social" target="_blank">
          <mat-icon class="fab fa-instagram"></mat-icon>
        </a>
        <a *ngIf="organization.facebook?.length" [href]="'http://www.facebook.com/' + organization.facebook" class="social" target="_blank">
          <mat-icon class="fab fa-facebook-f"></mat-icon>
        </a>
        <a *ngIf="organization.twitter?.length" [href]="'http://www.twitter.com/' + organization.twitter" class="social" target="_blank">
          <mat-icon class="fab fa-twitter"></mat-icon>
        </a>
        <a *ngIf="organization.youtube?.length" [href]="'http://www.youtube.com/' + organization.youtube" class="social" target="_blank">
          <mat-icon class="fab fa-youtube"></mat-icon>
        </a>
      </h3>
      <div class="data" *ngIf="organization.address?.length" >
        <label>{{'organization.address' | translate}}:</label>
        <span>{{organization.address}}</span>
      </div>
      <div class="data"  *ngIf="organization.phone?.length" >
        <label>{{'organization.phone' | translate}}:</label>
        <span>{{organization.phone}}</span>
      </div>
      <a class="data"  *ngIf="organization.email?.length" [href]="'mailto:' + organization.email" >
        <label>{{'organization.email' | translate}}:</label>
        <span>{{organization.email}}</span>
      </a>
    </div>
  </div>

  <div class="contact">
    <div class="contact-form">
      <div class="row">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row">

        <mat-form-field>
          <mat-label>Asunto</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Escribe tu mensaje aquí...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button>
        Enviar
      </button>

      <span>
      Gracias por tu mensaje, ¡nos comunicaremos en breve!
    </span>
    </div>
  </div>
</div>


<!--
<div class="content box" >
  <header>
    <h2>
      <mat-icon>contacts</mat-icon>
      {{'contact.contact' | translate}}
    </h2>

    <div class="spacer"></div>

    <share-buttons [show]="3"></share-buttons>
  </header>

  <div [innerHTML]="contactText" class="content-editor"></div>
</div>
-->
