<form [formGroup]="theForm"
      id="linkEditForm"
      (ngSubmit)="ngSubmit.emit()">
  <div class="row">
    <div class="column">
      <mat-form-field>
        <input matInput formControlName="name"
               [placeholder]="'member.name' | translate">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'member.description' | translate}}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'member.organization' | translate}}</mat-label>
        <mat-select formControlName="organization_id">
          <mat-option *ngFor="let organization of $organizations | async"
                      [value]="organization.id">
            {{organization.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column">
      <app-upload-picture formControlName="picture"
                          [image_srcset]="member?.image_srcset">
      </app-upload-picture>
    </div>
  </div>

  <ng-content></ng-content>
</form>
