<ng-template #itemTemplate
             let-index="index"
             let-type="type"
             let-picture="data"
             let-currIndex="currIndex">
  <pinch-zoom
    *ngIf="type === 'imageViewer' && [index - 1, index, index +1].includes(currIndex)">
    <img [srcset]="picture.image_srcset"/>
  </pinch-zoom>

  <span class="item-title">
    {{picture.title}}
  </span>

  <div class="item-content"
       *ngIf="picture.content?.length"
       [class.expanded]="expanded">
    <div class="expand-wrapper" (click)="expanded = !expanded">
      <mat-icon>expand_less</mat-icon>
    </div>

    <ng-container *ngIf="expanded">
      <share-buttons [show]="3"></share-buttons>
      <p [innerHtml]="picture.content"></p>
    </ng-container>
  </div>

  <mat-icon class="close-button" (click)="close()">close</mat-icon>
</ng-template>

<ng-template #thumbTemplate
             let-index="index"
             let-type="type"
             let-picture="data"
             let-currIndex="currIndex">
  <img class="gallery-thumb" [srcset]="picture.image_srcset"/>
</ng-template>
